.slide {
  padding: 0;
  cursor: pointer;
  margin-bottom: 50px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }
}

.reviewBlock {
  height: 100%;
}

.textReview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  margin-bottom: 30px;

  p {
    color: rgb(255, 255, 255);
    font-size: clamp(1.125rem, 1.063rem + 0.25vw, 1.25rem);
    font-style: italic;
    font-weight: 300;
    line-height: 150%;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.reviewTitle {
  color: #000;
  font-size: clamp(1.125rem, 1rem + 0.5vw, 1.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  transition: all 0.2s ease-in-out;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }
}

.authorAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
}

.authorText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
  }
}

.authorName {
  font-size: clamp(1.125rem, 0.938rem + 0.75vw, 1.5rem);
  font-weight: 500;
  color: var(--corp-color);
}

.authorCountry {
  font-size: clamp(1rem, 0.938rem + 0.25vw, 1.125rem);
  color: rgba(255, 255, 255, 0.6);
}