.doubleTextBlock {
  margin-bottom: 70px;

  h2, h3, h4 {
    line-height: 1.2;
  }

  p, li {
    font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
    font-weight: 400;
    line-height: 1.5;

    strong {
      font-weight: 500;
    }
  }

  a {
    word-break: break-word;
  }

  // @media screen and (min-width: 980px) {
  //   &:not(last-child) {
  //     .dividerHorizontal {
  //       display: block;
  //     }
  //   }
  // }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (min-width: 980px) {
    flex-direction: row;
    align-items: flex-start;
  }

  &--center {
    @media screen and (min-width: 980px) {
      align-items: center;
    }
  }

  &--bottom {
    @media screen and (min-width: 980px) {
      align-items: flex-end;
    }
  }
}

.textBlock,
.imageBlock,
.leftContent,
.rightContent
{
  flex: 1; // Обеспечивает равное распределение
}

.imageBlock {
  overflow: hidden;
}

.divider {
  width: 1px;
  background-color: #bd8948;
  margin: 0 30px;
  display: none; // Скрываем по умолчанию

  @media screen and (min-width: 980px) {
    display: block; // Показываем только на больших экранах
  }
}

.dividerHorizontal {
  display: none;
  width: 100%;
  height: 1px;
  background-color: #bd8948;
  margin: 30px 0;
}