.servicesSection {
  margin-bottom: clamp(4.375rem, 1.875rem + 10vw, 9.375rem);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: clamp(2.5rem, 1.25rem + 5vw, 5rem);
}

.pretitle {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.title {
  color: inherit;
  font-size: clamp(2.5rem, 2.031rem + 1.88vw, 3.438rem);
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
}

.subtitle {
  font-size: clamp(1.563rem, 1.25rem + 1.25vw, 2.188rem);
  font-weight: 500;
  line-height: 1.5;
  color: var(--corp-color);
  font-style: italic;

  @media screen and (min-width: 768px) {
    max-width: 700px;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.serviceItemWrapperGrid {
  display: flex;
  height: 100%;
}

.serviceItem {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 30px 10px;
  height: 100%;

  @media screen and (min-width: 768px) {
    padding: 55px 16px;
  }
}

.serviceItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.serviceItemText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.serviceItemTitle {
  font-size: clamp(1.125rem, 0.938rem + 0.75vw, 1.5rem);
  font-weight: 500;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
}

.serviceItemDescription {
  font-size: clamp(1rem, 0.938rem + 0.25vw, 1.125rem);
  color: rgba(199, 196, 196, 0.8);
}

.serviceItemLink {
  font-size: clamp(0.875rem, 0.75rem + 0.25vw, 1rem);
  color: var(--corp-color);
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}