.portfolioIntro {
  margin-bottom: clamp(4.375rem, 3.438rem + 3.75vw, 6.25rem);
  overflow: hidden;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  @media screen and (min-width: 1024px) {
    position: sticky;
    top: 5rem;
  }
}

.contentWrapper {
  position: relative;
  z-index: 1;
}

.title {
  font-size: clamp(2rem, 1rem + 4vw, 4rem);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: clamp(1.875rem, 1.563rem + 1.25vw, 2.5rem);
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--corp-color);
  margin-bottom: clamp(1.875rem, 1.563rem + 1.25vw, 2.5rem);
}

.keyFeatures {
  margin-top: clamp(3.125rem, 2.5rem + 2.5vw, 4.375rem);
  margin-bottom: clamp(3.125rem, 2.5rem + 2.5vw, 4.375rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // flex-direction: column;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.keyFeature {
  flex: 1 0 calc(50% - 1rem);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 2rem 1.5rem;

  @media screen and (min-width: 768px) {
    flex: 1;
  }
}

.keyFeatureWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.keyFeatureTitle {
  font-size: 16px;
  font-weight: 400;
  color: rgba(199, 196, 196, 0.8);
}

.keyFeatureValue {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0.25rem;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 980px) {
    font-size: 20px;
  }
}

.image {
  margin-bottom: clamp(3.125rem, 2.5rem + 2.5vw, 4.375rem);
  position: relative;
  aspect-ratio: 16 / 9;

  img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}