.portfolioSection {
  margin-bottom: clamp(4.375rem, 1.875rem + 10vw, 9.375rem);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: clamp(2.5rem, 1.25rem + 5vw, 5rem);
}

.pretitle {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.title {
  color: inherit;
  font-size: clamp(2.5rem, 2.031rem + 1.88vw, 3.438rem);
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
}

.subtitle {
  font-size: clamp(1.563rem, 1.25rem + 1.25vw, 2.188rem);
  font-weight: 500;
  line-height: 1.5;
  color: var(--corp-color);
  font-style: italic;

  @media screen and (min-width: 768px) {
    max-width: 700px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;

  @media screen and (min-width: 980px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;
  }
}

.linkAll {
  margin-top: clamp(2.5rem, 2.188rem + 1.25vw, 3.125rem);
  display: flex;
  justify-content: center;
  align-items: center;
}