.serviceOffered {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 10px;
  height: 100%;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    padding: 16px;
  }
}

.serviceOfferedList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.serviceOfferedLink {
  color: #8A929C;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #fff;
  }
}