.burgerMenu {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  // background-color: #fff;
  // border-radius: 50%;

  @media (max-width: 768px) {
    display: flex;
    cursor: pointer;
    position: relative;
    z-index: 101;
  }
}

.burgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px; /* вычислите: 3 линии по 2px + 2 промежутка по 8px, например */
}
.bar {
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.4s, opacity 0.4s;
  transform-origin: center;
}

/* при открытом меню */
.rotateBar1 {
  transform: rotate(45deg) translateY(11px) translateX(2px);
}
.rotateBar2 {
  opacity: 0;
}
.rotateBar3 {
  transform: rotate(-45deg) translateY(-11px) translateX(2px);
}