.blogIntro {
  margin-top: clamp(3.125rem, 2.5rem + 2.5vw, 4.375rem);
}

.blogHeading {
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  font-weight: 500;
  line-height: 120%;
  
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
  text-align: center;
  max-width: 900px;
  margin-inline: auto;
}

.excerpt {
  font-size: clamp(1rem, 0.938rem + 0.25vw, 1.25rem);
  font-weight: 400;
  line-height: 160%;
  color: #8f8f92;
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
  margin-bottom: clamp(1.25rem, 5vw, 3.75rem);
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}

.category {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--corp-color);
  border-radius: 12px;
  background-color: var(--corp-color);
}

.date {
  color: #8A929C;
  font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 208.333% */
  letter-spacing: -0.72px;

  @media screen and (min-width: 768px) {
    letter-spacing: -0.96px;
  }
}

.blogIntroImage {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  margin-bottom: 30px;


  @media screen and (min-width: 768px) {
    aspect-ratio: 10/5;
  }

  img {
    // width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }
}

.blogIntroText {
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}