.features {
  margin-top: clamp(2.5rem, 1.25rem + 5vw, 5rem);
  margin-bottom: clamp(2.5rem, 1.25rem + 5vw, 5rem);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: clamp(2.5rem, 1.25rem + 5vw, 5rem);
}

.subtitle {
  font-size: clamp(2.5rem, 2.031rem + 1.88vw, 3.438rem);
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  font-style: italic;

  @media screen and (min-width: 768px) {
    max-width: 700px;
  }
}

/* базовая сетка */
.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr; /* мобилка: одна колонка */
  // center items
}

/* ≥640px: две колонки по умолчанию */
@media (min-width: 640px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

/* Модификаторы под реальное кол-во фич.
   На md и выше начинаем различать 3/4/5. */

@media (min-width: 768px) {
  /* 3 фичи: делаем 3 колонки и держим так дальше */
  .cols3 { grid-template-columns: repeat(3, 1fr); }

  /* 4 фичи: на md — 2 колонки для «дыхания», на lg — 4 */
  .cols4 { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1024px) {
  .cols4 { grid-template-columns: repeat(4, 1fr); }

  /* 5 фичей: на lg — 4, на xl — 5 (ниже) */
  .cols5 { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 1280px) {
  .cols5 { grid-template-columns: repeat(5, 1fr); }
}

/* карточки и иконки */
.card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.iconWrap {
  width: 140px;
  height: 140px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 12px auto;
  position: relative;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cardTitle { 
  font-weight: 400; 
  font-size: 1.5rem;
}
.desc { 
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6; 
  font-size: 1rem;
}
