.relatedArticle {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 10px;
  height: 100%;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    padding: 16px;

    &:hover {
      border-color: var(--corp-color);
    }
  }
}

.relatedArticleImage {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 8px;
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    aspect-ratio: 10/5;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categoryTitle {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--corp-color);
  border-radius: 8px;
  background-color: var(--corp-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

.content {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // height: 100%;
  flex: 1;

  @media screen and (min-width: 768px) {
    padding: 0 16px;
  }
}

.articleTitle {
  color: #fff;
  font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.5rem);
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 10px;
  flex-grow: 1;
}

.excerpt {
  color: #ccc;
  font-size: 14px;
  line-height: 1.5;
  margin-top: auto;
}