.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // margin-bottom: clamp(2.5rem, 1.25rem + 5vw, 5rem);
}

.title {
  color: inherit;
  font-size: clamp(2.5rem, 2.031rem + 1.88vw, 3.438rem);
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
}

.locationData {
  position: relative;
  z-index: 1;
}

.locationItems {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;

  @media screen and (min-width: 980px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    position: relative;
    z-index: 10;
    top: 100px;
  }
}

.locationItem {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--corp-color);
  border-radius: 12px;
  padding: 30px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 768px) {
    padding: 30px;
  }
}

.locationItemTitle {
  font-size: 1rem;
  color: #000;
}

.locationItemText {
  font-size: 2rem;
  color: #000;
}

.mapContainer {
  margin-top: 30px;

  @media screen and (min-width: 980px) {
    margin-top: unset;
    position: relative;
    z-index: -1;
    // top: 50%;
    // right: 0;
    // bottom: 0;
    // left: 0;
  }
}