.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;

  @media screen and (min-width: 980px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

.contact {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 30px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 20px;

  @media screen and (min-width: 768px) {
    padding: 30px 16px;

    &:hover {
      img {
        transform: scale(0.9);
        transition: transform 0.3s ease;
      }
    }
  }
}

.contactLabel {
  font-weight: 600;
  font-size: 1.5rem;
}