.reviewsSection {
  margin-bottom: clamp(4.375rem, 1.875rem + 10vw, 9.375rem);
  position: relative;
  overflow: hidden;
}

.particlesWrapper {
  position: absolute;
  inset: 0;              // top/right/bottom/left = 0
  z-index: 1;           // часть позади всего остального
}
