.customBulletList {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;

  li {
    display: flex;
    color: #fff;

    svg {
      flex-shrink: 0; /* Фиксирует размер SVG */
      width: 12px; /* Задает фиксированную ширину */
      height: 8px; /* Задает фиксированную высоту */
      margin-right: 9px; /* расстояние между SVG и текстом */
      margin-top: 11px;
    }
  }
}

.customBulletList:has(+ *) {
  margin-bottom: 20px; // или нужное тебе значение
}

.listItem {
  display: flex;
}

.listItem svg {
  margin-right: 11px; /* расстояние между SVG и текстом */
}

.blockquote {
  color: #fff;
  text-align: center;
  font-size: clamp(1.5rem, 0.75rem + 3vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 145.833% */

  @media screen and (min-width: 768px) {
    line-height: 55px; /* 114.583% */
  }
}

.paragraph {
  color: inherit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 168.75% */

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.h2 {
  color: inherit;
  font-size: clamp(2.5rem, 2.031rem + 1.88vw, 3.438rem);
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
}

.h3 {
  color: inherit;
  font-size: clamp(1.75rem, 1.438rem + 1.25vw, 2.625rem);
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
}

.h4 {
  color: inherit;
  font-size: clamp(1.5rem, 1.188rem + 0.94vw, 2.188rem);
  line-height: 1.2;
  font-weight: 500;
  line-height: 25px; /* 160% */
  font-style: italic;
}

.blogImage {
  position: relative;
  // aspect-ratio: 276/180;
  overflow: hidden;
  margin-bottom: clamp(1.25rem, 5vw, 3.75rem);

  @media screen and (min-width: 768px) {
    // aspect-ratio: 16/9;

    &:hover img {
      transform: scale(1.03);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }
}